<ion-header class="main-page__header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-page__header__title">
      <span class="main-page__header__title__text">
        ITechArt AR
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false">
        <img
          class="main-page__header__account-image"
          src="assets/account-img.png" alt="">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-page__content" [fullscreen]="true">

  <section class="main-page__content__items">
    <div class="main-page__content__items__item" routerLink="../camera-marker-based">
      <div class="main-page__content__items__item__left">
        <ion-icon name="ribbon"></ion-icon>
        <h6>Find a box</h6>
        <p>You can join to different quests</p>
      </div>
      <div class="main-page__content__items__item__right">
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </div>
    <div class="main-page__content__items__item" routerLink="../achievements">
      <div class="main-page__content__items__item__left">
        <ion-icon name="trophy"></ion-icon>
        <h6>Achievements</h6>
        <p>You can join to see your achievements</p>
      </div>
      <div class="main-page__content__items__item__right">
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </div>
  </section>

  <section class="main-page__content__quests">

    <div class="main-page__content__quests__text">
      <span class="main-page__content__quests__text__title">Quests</span>
      <span class="main-page__content__quests__text__link-all-quests">See all</span>
    </div>

    <div class="main-page__content__quests__item">
      <div class="main-page__content__quests__item__left">
        <ion-icon name="image"></ion-icon>
      </div>
      <div class="main-page__content__quests__item__right">
        <div>
          <h6>New challenge quest</h6>
          <p>Due: Nov 19, 20:00</p>
        </div>
        <p>
          <span>Join now </span>
          <ion-icon name="arrow-forward"></ion-icon>
        </p>
      </div>
    </div>

    <div class="main-page__content__quests__item">
      <div class="main-page__content__quests__item__left">
        <ion-icon name="image"></ion-icon>
      </div>
      <div class="main-page__content__quests__item__right">
        <div>
          <h6>New challenge quest</h6>
          <p>Due: Nov 19, 20:00</p>
        </div>
        <p>
          <span>Join now </span>
          <ion-icon name="arrow-forward"></ion-icon>
        </p>
      </div>
    </div>

  </section>

  <!--  <app-explore-container name="Tab 3 page"></app-explore-container>-->
</ion-content>
