<ion-content class="main-page-secondary__content" [fullscreen]="true">

  <section class="main-page-secondary__content__image">
    <img class="main-page-secondary__content__image__item" src="assets/main-screen.jpg" alt="main screen picture">
  </section>

  <section class="main-page-secondary__content__nav">
    <p class="main-page-secondary__content__nav__title">Open your camera and start exploring</p>
    <button class="main-page-secondary__content__nav__camera-btn" routerLink="../camera-marker-based">
      <ion-icon style="font-size: 15px;" name="camera"></ion-icon>
      Open camera
    </button>
    <button class="main-page-secondary__content__nav__achievements-btn" routerLink="../achievements">
      <ion-icon style=" font-size: 15px;" name="trophy"></ion-icon>
      Go to achievements
    </button>
  </section>

</ion-content>
